body
{
background-size: cover;
background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#Status,#Object_found
{
font-size: 18px;
}

#Object_code
{
    width: auto;
}

canvas
{
box-shadow: 10px 10px 10px grey;
border-radius: 10px;
margin-top: 30px;
fill: aliceblue;
}
